// COLORS
$color-white: #FFFFFF;
$color-black: #000000;
$color-white-2: #f1f1f1;
$color-white-3: #F4F4F4;

$color-dark-grey: #4b4e53;
$color-grey: #7e8082;
$color-light-grey: #eee;
$color-light-grey-2: #dedede;
$color-medium-grey: #97999c;
$color-medium-dark-grey: #7e8082;
$color-light-grey-3: #d3d4d5;

