.header {
    position: fixed;
    width: 100%;
    z-index: 100;
    padding: 1rem 2rem;
    background-color: $color-white;
    transition: background-color .3s ease, padding-top .4s ease, box-shadown .3s ease;
    box-shadow: 0 1px 15px rgba($color-black, .15);

    &--big {
        background-color: transparent;
        padding-top: 3.5rem;
        box-shadow: none;
    }

    &__container {
        height: 100%;
        display: inline-flex;

        &__logo {
            height: 42px;
        }
    }
}