.about-1 {
    width: 100%;
    margin: 13rem 0;
    display: inline-flex;
    justify-content: center;

    &__container {
        margin: 0 auto;
        display: inline-flex;

        img {
            max-width: 100%;
        }

        &__right {
            font-family: 'Lato', sans-serif;
            color: $color-dark-grey;
            margin-left: 3rem;

            &__divider {
                @include line-divider;
                width: 100px;
                margin: 1.4rem 0 3rem 0;
            }

            &__grid {
                font-family: 'Open Sans', sans-serif;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
                grid-gap: 2rem;
                color: $color-dark-grey;

                &__item {
                    display: grid;
                    grid-template-rows: 3.5rem min-content;
                    grid-template-columns: 3.5rem minmax(12rem, 30rem);

                    p {
                        padding-left: 1.5rem;
                    }

                    &__subtitle {
                        font-size: 1.8rem;
                        font-weight: 700;
                        text-transform: uppercase;
                        align-self: center;
                        grid-column: 2 / 3;
                        padding-left: 1.5rem;
                    }

                    &__icon {
                        font-size: 3.5rem;
                        grid-row: 1 / 3;
                    }
                }
            }
        }
    }
}

.section-1 {
    width: 100%;
    display: inline-flex;

    &--top-border {
        border-top: 1px solid $color-light-grey;
    }

    &--bottom-border {
        border-bottom: 1px solid $color-light-grey;
    }

    &__img {
        width: 50%;
        height: 58vh;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;

        &--1 {
            background-image: url("../img/fes2.jpg");
        }

        &--2 {
            background-image: url("../img/fes3.jpg");
        }
    }

    &__info {
        width: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &__inner {
            max-width: 40rem;

            &__divider {
                @include line-divider;
                margin-top: 1rem;
                margin-bottom: 2.5rem;
                width: 10.2rem;
            }
        }
    }
}

.services {
    width: 100%;
    margin: 13rem 0;

    &__grid {
        margin: 0 auto;
        max-width: 79%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 1.5rem;

        &__title {
            height: 8.5rem;
            border-left: 2px solid $color-dark-grey;
            display: inline-flex;
            align-items: center;
            padding-left: 2.5rem;
        }

        &__top {
            display: inline-flex;
            height: 4.5rem;
            margin-bottom: 2.5rem;

            &__icon {
                font-size: 4.5rem;
                margin-right: 2rem;
            }

            &__title {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                > .paragraph {
                    line-height: 1.4rem;
                }
            }
        }
    }
}

.portfolio {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(25rem, 32rem)) min-content;
    grid-gap: 1.5rem;

    &__item {
        overflow: hidden;
        position: relative;

        &:hover {
            background-color: aqua;
        }

        &:hover > &__overlay {
            width: 100%;
            height: 100%;
            opacity: 1;
        }

        &:hover > img {
            transform: scale(1.3);
        }

        img {
            display: block;
            height: 100%;
            transition: all .3s cubic-bezier(.3,.1,.58,1);
        }

        &__overlay {
            position: absolute;
            top: 0;
            left: 0;
            background-color: rgba($color-black, 0.7);
            width: 100%;
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all .3s cubic-bezier(.3,.1,.58,1);
            padding: 4rem;
            font-size: 2rem;
            color: white;
        }
    }

    &__btn {
        grid-column: 1 / -1;
        text-align: center;
        padding: 3.5rem;
        background-color: $color-light-grey;
        transition: all .3s ease 0s;
        font-size: 1.8rem;
        line-height: 1.8rem;
        font-weight: 300;
        font-family: "Lato", sans-serif;
        text-transform: uppercase;
        color: $color-dark-grey;

        &:hover {
            background-color: $color-light-grey-2;
        }
    }
}

.our-clients {
    width: 100%;
    margin: 13rem 0;

    &__inner {
        margin: 0 auto;
        max-width: 79%;

        &__bottom {
            width: 100%;
            display: inline-flex;
            margin-top: 4rem;

            &__clients {
                width: 58%;
                display: grid;
                grid-template-columns: repeat(4, minmax(14rem, 1fr));
                grid-template-rows: repeat(2, minmax(11rem, 12rem));

                > div {
                    width: 100%;
                    display: inline-flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        max-width: 100%;
                        height: 10rem;
                    }
                }

                > div:nth-of-type(1),
                > div:nth-of-type(2),
                > div:nth-of-type(3),
                > div:nth-of-type(4) {
                    border-bottom: 1px solid $color-light-grey;
                }

                > div:nth-of-type(1),
                > div:nth-of-type(2),
                > div:nth-of-type(3),
                > div:nth-of-type(5),
                > div:nth-of-type(6),
                > div:nth-of-type(7) {
                    border-right: 1px solid $color-light-grey;
                }
            }

            &__info {
                padding: 0 1.5rem 0 8rem;
                color: $color-dark-grey;

                p {
                    font-size: 2.1rem;
                    line-height: 3.2rem;
                    margin-bottom: 2.4rem;
                }

                footer {
                    font-size: 1.4rem;
                    color: $color-medium-dark-grey;
                    font-weight: 100;
                    font-family: "Open Sans", sans-serif;
                }

                footer::before {
                    content: "\2014 \00A0";
                }
            }
        }
    }
}

.work-section {
    width: 100%;
    background: #2c2c2c url(../img/work-proc-bg.jpg) fixed;
    padding: 11rem 0;

    &__inner {
        color: $color-white-2;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 5rem;
        max-width: 110.5rem;

        > .title-with-right-border {
            border-left: 2px solid $color-white-2;
        }

        &__item {
            display: inline-flex;
            height: 4.6rem;

            p {
                color: $color-light-grey-3;
                font-size: 1.4rem;
                line-height: 2.4rem;
            }

            &__icon {
                margin-right: 2.5rem;
                font-size: 4.5rem;
            }

            &__title {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                > p {
                    line-height: 1.8rem;
                }
            }
        }
    }
}
