.title-with-right-border {
    height: 8.5rem;
    border-left: 2px solid $color-dark-grey;
    display: inline-flex;
    align-items: center;
    padding-left: 2.5rem;
}

.full-with-big-btn {
    @include full-with-big-btn;
}
